<div class="overlay">
    <div class="movie-details-window">
        <div class="movie-details-container">
            <div class="image-block">
                <img [src]="movie.largeimage" alt="test image">
            </div>
            <div class="movie-details">
                <div class="close-movie-details" (click)="goBackOnClick()">
                    <h3 class="go-back-button">X</h3>
                </div>
                <h2 class="movie-name">{{movie.title}}</h2>
                <!-- To do: add rating stars -->
                <h3>{{ movie.runtime }} | {{ movie.rating }} | {{ movie.rating }}</h3>
                <p class="synopsis">{{movie.synopsis}}</p>
                <a target="_blank" :href="`https://www.imdb.com/title/${movie.imdbid}/`">IMDB</a>
            </div>
        </div>
    </div>
</div>
