<div class="container">
    <div class="page-layout">
      <div class="header">
        <h1 class="title">Next Movies</h1>
            <!-- <generic-button class="button-big" @clicked="advancedClicked" :label="'Advanced'"></generic-button> -->
            <div id="autocomplete" class="autocomplete">
                <input class="autocomplete-input" />
                <ul class="autocomplete-result-list"></ul>
            </div>
      </div>
      <div class="left-panel"></div>
      <div class="movie-list" >
        <app-movie-list [movies]="movies" (clicked)="onClickMovie($event)">
                    <!-- v-infinite-scroll="loadMore"
                    infinite-scroll-disabled="busy"
                    infinite-scroll-distance="1"> -->
        </app-movie-list>
      </div>
      <div class="right-panel">
        <!-- <filter-panel v-show="showAdvancedFilter"
                      @clicked="closeAdvancedPanel"
                      @filtersApplied="filtersApplied"></filter-panel> -->
      </div>
      <div class="footer"></div>
      <app-movie-details *ngIf="movieGotClicked" [id]="selectedMovie.id" (goBackClicked)="onGoBackClicked($event)"></app-movie-details>
    </div>
