.movieContainer {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 166px;
    padding: 10px;

     h2 {
        color: white;
        font-size: 14px;
    }
}

.grow {
    transition: all .2s ease-in-out; 
}
.grow:hover {
    transform: scale(1.1);
    cursor: pointer;
}